MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_CALLBACK_URL=
MPESA_B2C_INITIATOR=
MPESA_B2C_SECURITY_CREDENTIAL=
MPESA_B2C_QUEUE_URL=
MPESA_B2C_RESULT_URL=
AI_API_KEY=
AI_API_PROVIDER=google
APP_ENV=development
