AI_API_KEY=
AI_API_PROVIDER=
APP_ENV=
FIREBASE_API_KEY=
GEMINI_API_KEY=
PORT=3000
MPESA_B2C_INITIATOR=
MPESA_B2C_QUEUE_URL=
MPESA_B2C_RESULT_URL=
MPESA_B2C_SECURITY_CREDENTIAL=
MPESA_CALLBACK_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=